@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../assets/fonts/Open-Sans/open-sans-v34-latin_cyrillic-regular.woff2') format('woff2'),
        url('../assets/fonts/Open-Sans/open-sans-v34-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('../assets/fonts/Open-Sans/open-sans-v34-latin_cyrillic-600.woff2') format('woff2'),
        url('../assets/fonts/Open-Sans/open-sans-v34-latin_cyrillic-600.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../assets/fonts/Open-Sans/open-sans-v34-latin_cyrillic-700.woff2') format('woff2'),
        url('../assets/fonts/Open-Sans/open-sans-v34-latin_cyrillic-700.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local(''),
        url('../assets/fonts/Roboto/roboto-v30-latin_cyrillic-300.woff2') format('woff2'),
        url('../assets/fonts/Roboto/roboto-v30-latin_cyrillic-300.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../assets/fonts/Roboto/roboto-v30-latin_cyrillic-regular.woff2') format('woff2'),
        url('../assets/fonts/Roboto/roboto-v30-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../assets/fonts/Roboto/roboto-v30-latin_cyrillic-700.woff2') format('woff2'),
        url('../assets/fonts/Roboto/roboto-v30-latin_cyrillic-700.woff') format('woff');
}

#theme {
    position: fixed;
    cursor: pointer;
    bottom: 50px;
    right: 50px;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    z-index: 1;
}


.container {
    padding: 0 0 88px 0;
}

.polygon-first {
    background-image: url(../assets/image/bg1.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% auto;
    background-attachment: fixed;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
}

.first {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin-top: 20px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 38px 175px 38px 175px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    color: rgb(0, 0, 0);
}

.title-format {
    color: rgb(20, 175, 202);
    font-weight: 700;
}

.header-nav {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.nav-item {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: rgb(62, 76, 78);
}

.nav-item:hover {
    color: rgb(20, 175, 202);
}

.polygon-text {
    text-align: center;
    margin-top: 149px;
    margin-bottom: 234px;
    font-family: 'FuturaBT';
    font-size: 52px;
    line-height: 75px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.what {
    width: 70%;
    margin: 122px auto 0;
    text-align: center;
}

.what-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    color: #14AFCA;
    text-transform: uppercase;
}

.what-subtitle {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 60px;
    letter-spacing: 0.9px;
}

.what-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #424F57;
}

.polygon-second {
    margin-top: 90px;
    clip-path: polygon(50% 20%, 100% 0, 100% 100%, 0 100%, 0 0);
    background-image: url(../assets/image/bg2.jpg);
    background-repeat: no-repeat;
    background-position: 50% 20%;
    background-size: 100% auto;
    background-attachment: fixed;
}

.second {
    padding: 190px 0 80px 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.polygon-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    color: #14AFCA;
    text-transform: uppercase;
}

.polygon-subtitle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 75px;
    letter-spacing: 0.9px;
    color: #FFFFFF;
}

.companies {
    margin-top: 20px;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 70px;
    justify-items: center;
    align-items: center;
}

.adobe {
    width: 252px;
    height: 126px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/logo/adobe-background.png);
    background-size: cover;
}

.meetus {
    width: 70%;
    margin: 170px auto 0;
    text-align: center;
}

.meetus-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    color: #14AFCA;
    text-transform: uppercase;
}

.meetus-subtitle {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 80px;
    letter-spacing: 0.9px;
}

.our-team {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.employee-card {
    width: 55%;
}

.employee-description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #424F57;
}

.polygon-third {
    clip-path: polygon(50% 20%, 100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
    background-image: url(../assets/image/bg3.jpg);
    background-repeat: no-repeat;
    background-position: 50% 20%;
    background-size: 100% auto;
    background-attachment: fixed;
}

.third {
    padding: 190px 0 143px 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.polygon-description {
    width: 70%;
    font-family: 'OpenSans';
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.8px;
    color: #D3CCCC;
}

.author {
    margin: 28px 20% 0 0;
    align-self: flex-end;
    font-family: 'OpenSans';
    font-size: 18px;
    letter-spacing: 0.45px;
    color: #FFFFFF;
}

.why {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why-title {
    margin-top: 105px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 40px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #14AFCA;
}

.why-subtitle {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 80px;
    letter-spacing: 0.9px;
}

.why-text {
    text-align: center;
    width: 45%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: 0.75px;
    color: #424F57;
}

.footer {
    width: 20%;
    margin: 96px auto 0;
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.7px;
    color: #3D3C3C;
}

.footer a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.7px;
    color: #3D3C3C;
}